/* TabBar.module.css */
.tabBar {
    display: flex;
    flex-direction: row;
    width: 415px;
    border-color: white;
    border-top-color: white;
    border-width: 1px;
    padding: 16px 24px;
    justify-content: space-between;
    box-shadow: 0px -4px 8px 0px #0000000d;
  }
  
  .tabItem {
    justify-content: center;
    display: flex;
    align-items: center;
  
    width: 40px;
    height: 40px;
  }
  
  .tabContent {
    align-items: center;
  }
  
  .tabIcon {
    margin-bottom: 2px;
  }
  
  .tabBarText {
    font-size: 10px;
    font-weight: 700;
  }
  
  .activeTab {
    background: linear-gradient(
      to bottom,
      #ff00ff,
      #800080
    ); /* Fuschia gradient */
    border-radius: 99px;
    gap: 8px;
    color: white;
    justify-content: center;
    display: flex;
    align-items: center;
  }
  